# CLion
.idea/

# VS
**/*.vcxproj
**/*.sln

# Generated Build Folders
bld/
build/
win/
windows/
win32/
win64/
lnx/
linux/
unix/
out/
test/
tst/

# MS Windows nonsense
**/*.dll
**/*.exe

# Language server non-sense
.cache/
compile_commands.json
